*.py[cod]
*.egg-info
__pycache__/

*.so
*.dylib
*.dll

/urcl/include/
/urcl/rpy-include/
/urcl/_init_urcl.py
/urcl/pkgcfg.py

/urcl/version.py

.pytest_cache/
.coverage
.coverage.*
htmlcov
coverage.xml

build/
dist/
