*.py[codi]
*.egg-info
__pycache__/

*.so
*.dylib
*.dll

/urcl/trampolines
/urcl/_init__urcl.py
/urcl/urcl.pc
/urcl/version.py

.pytest_cache/
.coverage
.coverage.*
htmlcov
coverage.xml

build/
dist/
/lib
